
@{
    Layout = null;
}

<!Doctype html>
<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        <h3>Popolnete ja registracijata</h3>
        @Html.ActionLink("Registration", "RegistrationForm")
    </div>
   
</body>
</html>

