
<!DOCTYPE html>

<html>
<head>
    
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript" src="~/Scripts/jquery-3.2.1.js"></script>
    <title>Index</title>

</head>
<body style="background-color:#660000">
    <div class="jumbotron">
        <div class="row">
            <div class="container">
                <div>
                    <h4>Izberete Pica:</h4><select id="tip"><option value=0>---------</option></select>
                    <h4>Izberete Golemina:</h4><select id="golemina"><option value=0>---------</option></select>
                    <h4>Izberete Kolicina:</h4><input type="text" id="kolicina" />
                    <h4></h4>
                 </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div>
                     <button>Cena:</button>
                    <textarea id="box"  rows="1" cols="15"></textarea>
                </div>
            </div>
        </div>
    </div>

    <script>
    var tip = [];
    var golemina = [];
   @{
       var brojac = 0;
       var i = 0;
       var n = 0;
       }

    @foreach (var c in ViewData.Model)
    {
        foreach (var b in c)
        {
            if (brojac == 0)
            {
            @:tip.push({@i: "@b"});
             i++;
            } else if(brojac == 1)
            {
               @:golemina.push({@n: "@b"});
                n++;
            }


        }
        brojac++;
    }

    var select = document.getElementById("tip");
    for (var j = 0; j <tip.length; j++) {
        var option = document.createElement('option');
        option.text = tip[j][j];
        option.value = j + 1;
        select.add(option);
    }

    var select = document.getElementById("golemina");
    for (var j = 0; j < golemina.length; j++) {
        var option = document.createElement('option');
        option.text = golemina[j][j];
        option.value = j + 1;
        select.add(option);
        }

        $("#kolicina").focusout(function () {
            var tipID = $("#tip").val();
            var goleminaID = $("#golemina").val();
            var kolicina = $("#kolicina").val();
            if (tipID != 0 && goleminaID != 0 && kolicina != 0) {
                $.ajax({
                    type: 'get',
                    url: '/Naracka/Kolicina',
                    data: {
                        tipId: tipID,
                        goleminaId: goleminaID
                    },
                    success: function (response) {
                        var cena = response * kolicina;
                        $("#box").text(cena);

                    }
                });
            }
            })

        $('#golemina').change(function () {
            var tipID = $("#tip").val();
            var goleminaID = $("#golemina").val();

            var kolicina = $("#kolicina").val();

            if (tipID != 0 && goleminaID != 0 && kolicina != 0) {
                $.ajax({
                    type: 'get',
                    url: '/Naracka/Kolicina',
                    data: {
                        tipId: tipID,
                        goleminaId: goleminaID
                    },
                    success: function (response) {
                        var cena = response * kolicina;
                        $("#box").text(cena);
                    }
                });
            }
        });

        $('#tip').change(function () {
            var tipID = $("#tip").val();
            var goleminaID = $("#golemina").val();
            var kolicina = $("#kolicina").val();

            if (tipID != 0 && goleminaID != 0 && kolicina != 0) {
                $.ajax({
                    type: 'get',
                    url: '/Naracka/Kolicina',
                    data: {
                        tipId: tipID,
                        goleminaId: goleminaID
                    },
                    success: function (response) {
                        var cena = response * kolicina;
                        $("#box").text(cena);
                    }
                });
            }
        });


    </script>
</body>
</html>

