<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kolicina</title>
  
</head>
<body style="background-color:#660000">
    <div >
    <h1>@foreach (var a in ViewData.Model) { @a }</h1>
    </div>
</body>
</html>
