<!DOCTYPE html>
<html>
<title>About</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<style>
    .mySlides {
        display: none
    }
</style>
<body style="background-color:#660000">

    <div class="w3-container">
        <h2 style="color: aliceblue; text-align:center">Istorija</h2>
        <h1 style="height:30px"></h1>
        <p style="text-align:justify; color: aliceblue">Foods similar to pizza have been made since the neolithic age. Records of people adding other ingredients to bread to make it more flavorful can be found throughout ancient history. The ancient Greeks supplemented their bread with oils, herbs, and cheese and in the 6th century BC, the soldiers in Persian King Darius I's armies baked flatbreads with cheese and dates on top of their battle shields.An early reference to a pizza-like food occurs in the Aeneid, when Celaeno, queen of the Harpies, foretells that the Trojans would not find peace until they are forced by hunger to eat their tables. In Book VII, Aeneas and his men are served a meal that includes round cakes (like pita bread) topped with cooked vegetables. When they eat the bread, they realize that these are the "tables" prophesied by Celaeno.</p>
    </div>

    <div class="w3-content" style="max-width:800px">
        <img class="mySlides" src="~/Content/Pictures/81.jpg" width=100% height="400px">
        <img class="mySlides" src="~/Content/Pictures/home.jpg" width=100% height="400px">
        <img class="mySlides" src="~/Content/Pictures/1.png" width=100% height="400px">
        <img class="mySlides" src="~/Content/Pictures/2.jpg" width=100% height="400px">
        <img class="mySlides" src="~/Content/Pictures/3.jpg" width=100% height="400px">
        <img class="mySlides" src="~/Content/Pictures/4.jpg" width=100% height="400px">


    </div>

    <div class="w3-center">
        <div class="w3-section">
            <button class="w3-button w3-light-grey" onclick="plusDivs(-1)">❮ Prev</button>
            <button class="w3-button w3-light-grey" onclick="plusDivs(1)">Next ❯</button>
        </div>
        <button class="w3-button demo" onclick="currentDiv(1)">1</button>
        <button class="w3-button demo" onclick="currentDiv(2)">2</button>
        <button class="w3-button demo" onclick="currentDiv(3)">3</button>
        <button class="w3-button demo" onclick="currentDiv(4)">4</button>
        <button class="w3-button demo" onclick="currentDiv(5)">5</button>
        <button class="w3-button demo" onclick="currentDiv(6)">6</button>

    </div>


    <script>
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function currentDiv(n) {
            showDivs(slideIndex = n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" w3-red", "");
            }
            x[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " w3-red";
        }
    </script>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/1X6OAucemtE" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen style="margin-left:25%; padding-top:20px;"></iframe>
    <p style="text-align:justify; color: aliceblue">
        In restaurants, pizza can be baked in an oven with stone bricks above the heat source, an electric deck oven, a conveyor belt oven or, in the case of more expensive restaurants, a wood- or coal-fired brick oven. On deck ovens, pizza can be slid into the oven on a long paddle, called a peel, and baked directly on the hot bricks or baked on a screen (a round metal grate, typically aluminum). Prior to use, a peel may be sprinkled with cornmeal to allow pizza to easily slide onto and off of it. When made at home, it can be baked on a pizza stone in a regular oven to reproduce the effect of a brick oven. Another option is grilled pizza, in which the crust is baked directly on a barbecue grill. Greek pizza, like Chicago-style pizza, is baked in a pan rather than directly on the bricks of the pizza oven. When it comes to preparation, the dough and ingredients can be combined on any kind of table. With mass production of pizzas the process can be completely automated. Most restaurants still use standard and purpose built pizza preparation tables. Pizzerias nowadays can even opt for hi tech pizza preparation tables that combine mass production elements with traditional techniques.
    </p>
    <div class="row">
        <img src="~/Content/Pictures/about1.jpg" width=100% height="400px">
        <img src="~/Content/Pictures/about2.jpg" width=100% height="400px">
    </div>
    <script>
                       var log = sessionStorage.getItem('UserName');
                    if (document.getElementById("menuRightLogin") && log != null) {
                        $("#menuRightLogin").remove();
                        $("#menuRightLogoff").remove();
                            var html = '<ul id="menuRightLogoff" class="nav navbar-nav navbar-right">' +
                                '<li>@Html.ActionLink("Naracka", "Index", "Naracka", routeValues: null, htmlAttributes: new { id = "registracijaLink" })</li>' +
                                '<li><a id="logOff" href="/Account/Login">Log off</a></li>' +
                                '</ul>';


                        $('body > div.navbar.navbar-inverse.navbar-fixed-top > div > div.navbar-collapse.collapse').append(html);
                        $('#logOff').click(function () { sessionStorage.clear();});
                    } else {
                        $("#menuRightLogin").remove();
                        $("#menuRightLogoff").remove();
                      
                             var html = '<ul id="menuRightLogin" class="nav navbar-nav navbar-right">' +
                                '<li>@Html.ActionLink("Registracija", "Index", "Registracija", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>' +
                                '<li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>' +
                                '</ul>';
                            $('body > div.navbar.navbar-inverse.navbar-fixed-top > div > div.navbar-collapse.collapse').append(html);

                        }
    </script>
</body>
</html>
